[submodule "_rbenv"]
	path = _rbenv
	url = https://github.com/sstephenson/rbenv
[submodule "lib/rbenv/plugins/ruby-build"]
	path = lib/rbenv/plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build
[submodule "_pyenv"]
	path = _pyenv
	url = https://github.com/yyuu/pyenv
[submodule "lib/plenv/plugins/perl-build"]
	path = lib/plenv/plugins/perl-build
	url = https://github.com/tokuhirom/Perl-Build
[submodule "lib/ndenv/plugins/node-build"]
	path = lib/ndenv/plugins/node-build
	url = https://github.com/riywo/node-build
